@import '@unocss/reset/tailwind.css';

body{
    --at-apply: "font-Onest";
}

#__nuxt {
    --at-apply: "flex min-h-screen flex-col justify-start";
}

.scrollbar-measure{
    --at-apply: "w-20 h-20 overflow-scroll absolute -top-[9999px] bg-transparent"
}

body.modal-open {
    --at-apply: "overflow-hidden mr-4.25";
}
body.modal-open-mobile {
    --at-apply: "overflow-hidden mr-0";
}

.transition-button, .transition-bage {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, box-shadow;
}

.index__slider-img-container{
    mask-image:url(/sliderBg.svg);
    mask-repeat: no-repeat;
    mask-position: bottom;
    mask-size: cover;
}

.more-text-block{
    --at-apply:'flex flex-col gap-7.5 lg:gap-10 text-sm lg:text-base leading-1.4 lg:leading-1.4 text-second'
}
.more-text-block b{
    --at-apply:'text-fblack font-semibold'
}
.more-text-block h2{
    --at-apply:'font-bold font-Montserrat text-fblack text-lg lg:text-xl leading-1.2 lg:leading-1.2'
}
.more-text-block>div{
    --at-apply:'flex flex-col gap-4 lg:gap-5'
}
.more-text-block ul>li{
    --at-apply:'flex before:(content-empty w-1 h-1 bg-current mx-2.5 rounded-full mt-0.5em shrink-0)'
}
.more-text-block ul>li>*{
    --at-apply:'contents'
}

@layer default{
	body {
		--at-apply: "flex flex-col relative font-Inter whitespace-pre-line bg-white [--width-content:1280px] [--width-content-margin:15px] sm:[--width-content-margin:20px] 1200px:[--width-content-margin:60px]";
	}

	.grid-container {
        --at-apply: "grid";
		grid-template-columns:
			[full-start] minmax(var(--width-content-margin), 1fr)
			[main-start] minmax(0, var(--width-content))
			[main-end] minmax(var(--width-content-margin), 1fr) [full-end];		
	}

	.grid-container > * {
		--at-apply: "col-[main]";
	}

	.wrapper {
		--at-apply: "mx-auto w-[calc(100%-var(--width-content-margin)*2)] max-w-[var(--width-content)]";
	}

	.container {
		--at-apply:"max-w-[var(--width-content)]";
	}
    
    .scroll-h-0::-webkit-scrollbar {
        height: 0;
        max-height: 0;
    }

    .swiper-button{
        --at-apply:"flex rounded-full transition-colors duration-500 ease-linear pointer-events-auto"
    }
    .swiper-button.swiper-button-lock{
        --at-apply:"hidden"
    }

    .swiper-pagination{
        --at-apply:"flex gap-2 justify-center items-center flex-wrap"
    }

    .swiper-pagination .swiper-pagination-bullet{
        --at-apply:"w-2.5 h-2.5 bg-[--pagination-bullet-color,#fff] rounded-full transition-colors hover:bg-primary cursor-pointer"
    }
    .swiper-pagination .swiper-pagination-bullet-active{
        --at-apply:"bg-primary"
    }
    .swiper-pagination-lock, .swiper-pagination-disabled {
        --at-apply:"hidden"
    }
}
